*****************************************************************************************
*				Homework 2						*
*					 						*
*In this homework you will explore grasp acquisition and dextrous manipulation.		*
*For each of the parts, you will control a robotic hand using a force controller to 	*
*create form closure and force closure grasps of an object.   	      		 	*
*There are two parts to this homework.							*
*****************************************************************************************


This homework will be done in **2D**, not 3D.  
Directions for getting 2D working are included below.


Part A:
     This takes place on a frictionless, horizontal plane.
     
     Design a force controller that causes the hand to achieve form closure and then 
     transport the object to a desired position and orientation.

Part B:
     This takes place on a vertical plane with gravity with friction enabled.

     Design a force controller that causes the hand to achieve force closure and then transport 
     the object to a desired position and orientation.

*******************
*Setting up DVC 2D*
*******************

1)  Get the code.

    You only need to do this if you ONLY checked out the experimental branch of dvc.  
You can check this by looking inside the directory where you placed the dvc source code.  
If along with the experimental folder there is a trunk folder, then you have dvc 2d and you can skip this step.  
Otherwise, check out (using TortoiseSVN on Windows or 'svn co' on Unix/Linux) the following repo:

    https://dvc.svn.sourceforge.net/svnroot/dvc/trunk

2)  Provide PATH to dvc

    
    Inside your dvc3 folder, from the libraries folder, copy the entire pathlib directory into

    ../trunk/dvc-2d/libraries/

3)  Configure
    
    Open CMake and set the source folder to the dvc-2d folder (inside the trunk folder).  Set the build folder to be ../dvc-2d/build

4) Build

   Place the hw2 folder containing the files for the homework into the examples folder (../trunk/dvc-2d/examples/)

   Inside the examples folder, open up CMakeLists.txt and add the following line:

   	  add_subdirectory(hw2)
   
   Windows:   
      Open up the dvc.sln solution file inside the build folder and compile.

  Linux/Unix:
      execute make inside the build directory.

****************************************
*Some Notes on Completing the Homework:*
****************************************

Provided to you is the skeleton structure of the code and a small example of a force controller works.
If you take a look at the App class included you'll notice there is a function 'GoToPartCG.'  
This demonstrates how you can move the hand, but is not how you should solve the problem.  
You will need to implement an intelligent controller to coordinate the movement of the hand.  
The actual grip control code is located in the GripControl.h/cpp files.  
Feel free to adjust the GripControl class however you'd like.  
For example, you may wish to tune the K and C constants.  
The best place to write your solution is in the PostStep (although you can place code elsewhere if you wish) method of the App class.
You may also wish to write a new class to manage the controllers so that the code looks cleaner.  This is fine.

*********************
*Submitting the code*
*********************

You shouldn't need to modify the XML files, but if you do decide to, make sure any modifications are included in the submitted copy.
When you submit, bundle the entire hw2 folder into a zip/rar archive or tarball with your RCS ID somewhere in the file name 
(Note: This is the first part of your e-mail address, NOT your RIN.  For example, my RCS ID is farmab) and e-mail it to farmab@rpi.edu.
	
